// 公共变量
$--base-color: #455CC6 !default;
$--border-color: #ccc !default;
$--light-color: #999 !default;
$--base-background-color: #fff !default;
$--background-1: #f5f6fa;
$--white: #fff !default;

$--base--shadow: 0 0 8px 0 #c0c7da;
$--gray: rgb(160, 160, 160);
$--base-hover-color: #4D7CFE !default;